@font-face {
    font-family: "Quicksand";
    src: url('../Font/Quicksand-VariableFont_wght.ttf');
}
:root{
    font-family: "Quicksand", sans-serif;
    --primary-color: #0D7CC6;
    --secondary-color: #F68712 ;
    --terty-color: #90C2E6;
    --black: #010101;
    --white: #F2F2F2;
}
body{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.login__form{
    display: flex;
    flex-direction: column;
    color: var(--black);
    align-items: center;
    gap: 10px;
    flex: 1;
    text-align: center;
    p{
        width: 40vw;
    }
}
.input{
    padding: 5px;
    background-color: rgb(219, 219, 219);
    margin-top: 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-family: "Quicksand";
}
input{
    background: transparent;
    outline: none;
    border: none;
    width: 200px;
    color: var(--black);
    text-align: center;
    text-align: left;
}
button{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 5px 35px;
    border: none;
    margin-top: 10px;
    border-radius: 3px;
    transition: all ease 0.2s;
}
button:active{
    scale: 0.9;
    filter: brightness(0.8);
    transition: all ease 0.2s;
}
.hide{
    display: none;
    scale: 0.5;
    opacity: 0;
}
.login__image{
    background-image: url(../images/loginImage.png);
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 30vw;
    animation-name: login-ani;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.login__picture{
    background-color: var(--primary-color);
    background-image: url(../images/loginBackgroud.png);
    background-position: center;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.plane{
    background-position: center;
    background-size: cover;
    background-image: url(../images/plane.png);
    width: 10vw;
    height: 10vw;
    animation-name: plane;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}
@keyframes plane{
    from{
        scale: 0.3;
    }to{
        scale: 1;
    }
}
@keyframes login-ani{
    0%{
        transform: translateY(1.25vh);
    }50%{
        transform: translateY(-2.5vh);
    }
    100%{
        transform: translateY(1.25vh);
    }
}
#login__form__alert{
    background-color: red;
    border-radius: 5px;
    font-size: small;
    padding-inline: 20px;
    padding-block: 5px;
    color: var(--white);
    margin-top: 10px;
}
.menu-icon{
    scale: 1.5;
}
.bxs-error{
    margin-top: 3px;
}

@media (max-width : 720px) {
    body{
        flex-direction: column;
        gap: 30px;
        overflow-x: hidden;
    
    }
    .login__form{
        width: 100%;
        height: 50vh;
        padding-top: 5vh;
        p{
            width: 80%;
        }
    }
    .login__picture{
        width: 100%;
    }
    .login__image{
        height: 50vh;
        width: 50vh;
    }
}